annotated-types
anyio
Flask
colorama
decorator
filelock
fsspec
idna
imageio
imageio-ffmpeg
Jinja2
librosa
MarkupSafe
moviepy
mpmath
networkx
numba
numpy
opencv-python
pillow
proglog
pydantic
pydantic_core
python-dotenv
setuptools
sniffio
starlette
sympy
torch
torchvision
tqdm
timm
transformers
typing-inspection
typing_extensions
Werkzeug
itsdangerous
