@import "tailwindcss";



@font-face {
  font-family: "Aloha Magazine - Demo Version";
  src: url(/fonts/AlohaMagazine-DemoVersion-Bold.otf) format(otf);
}


body {
  color: var(--foreground);
  background: #010101;
  font-family: Arial, Helvetica, sans-serif;
}
